
.Header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    background: rgb(9, 122, 167);
    padding: 0 20px;
    box-sizing: border-box;
}
.total{
    display:flex;
    flex-wrap: wrap;
    margin:20px;
}

.Top {
    color: white;
    margin-left: 40px;
    margin-right: 10px;
}


.SearchArea {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.form-control {
    width: 80%;
    padding: 6px;
    margin:10px;
    border-radius: 4px;
}
.btn {
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    margin:10px;
    background: white;
    cursor: pointer;
}

.login, .Cart {
    background: skyblue;
    border-radius: 4px;
    padding: 5px 10px;
    margin:10px;
    border: none;
    cursor: pointer;
}

.login:hover, .Cart:hover {
    background: orange;
    color: white;
}

.image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgH3wSNLbrPE4NSaxT1NREzGsJBtIDy46KOQ&s");
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 10px;
    margin-top: 5px;
}

.trend {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.offer1, .offer2 {
    text-align: center;
    margin-top: 15px;
}

.offer1 { 
    font-size: 25px; 
}
.offer2 { 
    font-size: 20px;
 }

.shop {
    background: red;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

.shop:hover {
    background: #cc0000;
}


nav {
    background: rgb(55, 148, 190);
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 8px;
    position: sticky;
    top: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

nav a:hover {
    color: orange;
}

.card-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

.card1 {
    width: 260px;
    background: white;
    padding: 10px;
    margin:10px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: 0 0 5px #ddd;
    text-align: center;
    transition: transform 0.3s ease;
}

.card1:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.card1 img {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.card1p {
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.cardbtn {
    background-color: blue;
    color: white;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.cardbtn:hover {
    background: darkblue;
    transform: translateY(-4px);
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background: skyblue;
    color: white;
    border-radius: 6px;
}
